@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";
/* --- Header Dropdown Styles --- */
.dropdown-item:active, 
.dropdown-item:focus, 
.dropdown-item:hover {
  background-color: #eebb5d !important;
  color: #fff !important;
}

/* Link Text Color Fix on Hover */
.dropdown-item:hover a {
     color: #fff !important;
}

@media (max-width: 767px) {
    .navbar-nav .nav-item { border-bottom: 1px solid #f0f0f0; padding: 10px 0; }
    .navbar-nav .dropdown-menu { border: none; padding-left: 20px; }
}